<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout.html}">
	<head>
		<title>Electric Store</title>
	</head>
	
	<body>
		<h2>Electric Store Admin: Categories</h2>
		
		<form method="POST" th:action="@{/admin/categories}">
			ID: <input type="text" name="id"></input><br/>
			Name: <input type="text" name="name"></input><br/>
			Type: <input type="type" name="type"></input><br/>
			<input type="submit" />
		</form>
		
		<hr/>
		
		<ul>
			<li th:each="category: ${categories}" th:text="${category.name}"></li>
		</ul>
	</body>
</html>