<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ОкаТех - Магазин электротехники - Форма заказа</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <h1>ОкаТех - Оформление заказа</h1>
</header>
<nav>
    <a th:href="@{/}">Главная</a>
    <a th:href="@{/catalog}">Каталог</a>
    <a th:href="@{/contacts}">Контакты</a>
</nav>


<main>
    <h2>Оформление заказа на: <span th:text="${selectedProduct.name}"></span></h2>
    <p><img th:src="@{${selectedProduct.imageUrl}}" alt="Изображение товара" width="150" height="150"/> </p>

    <form method="POST" th:object="${productOrder}">
        <input type="hidden" th:field="*{product.id}" th:value="${selectedProduct.id}">

        <div class="form-group">
            <label for="customerName">Ваше ФИО:</label>
            <input type="text" th:field="*{customer.customerName}" id="customerName">
        </div>

        <div class="validationError" th:if="${#fields.hasErrors('customer.customerName')}" th:errors="*{customer.customerName}"></div>


        <div class="form-group">
            <label for="email">Эл. почта:</label>
            <input type="text" th:field="*{customer.email}" id="email">
        </div>

        <div class="validationError" th:if="${#fields.hasErrors('customer.email')}" th:errors="*{customer.email}"></div>


        <div class="form-group">
            <label for="address">Адрес доставки:</label>
            <textarea th:field="*{customer.address}" id="address" rows="4"></textarea>
        </div>

        <div class="validationError" th:if="${#fields.hasErrors('customer.address')}" th:errors="*{customer.address}"></div>

        <div class="form-group">
            <label for="quantity">Количество:</label>
            <input type="number" th:field="*{quantity}" id="quantity" min="1" th:value="1" required>
        </div>

        <div class="validationError" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></div>


        <div style="text-align: center; margin-top: 20px;">
            <button type="submit">Оформить заказ</button>
        </div>
    </form>
</main>

<footer>
    <p>&copy; 2024 "ОкаТех" Магазин электротехники. Все права защищены.</p>
</footer>
</body>
</html>
